@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  padding: 4px;
  background-color: #1E3A8A; /* Color azul oscuro */
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 24px);
  min-width: 80vw;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title img {
  width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
  object-fit: contain;
}

.title span {
  font-size: 45px;
  font-weight: 700;
  color: #F59E0B; /* Color amarillo */
  margin-left: 16px; /* Espacio entre la imagen y el texto */
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  gap: 6px;
}

.cookies, .actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid #3B82F6; /* Color azul claro */
  border-radius: 12px;
}

.actions { 
  height: fit-content;
  margin-bottom: 4px;
}

.actions div {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 8px 0;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

th, td {
  border: 1px solid white;
  padding: 4px;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #3B82F6; /* Color azul claro */
  padding: 4px;
  color: white;
  transition: background-color .5s linear;
}

input:focus {
  background-color: #3B82F6; /* Color azul claro */
  outline: none;
}

button {
  padding: 12px;
  border: none;
  background-color: #3B82F6; /* Color azul claro */
  color: white;
  opacity: .8;
  transition: opacity .4s linear;
  width: 100%;
}

button:hover {
  opacity: 1;
}

button:disabled {
  cursor: not-allowed;
}

button:disabled:hover {
  opacity: .8;
}

a {
  color: white;
  text-decoration: none;
  transition: color .5s linear;
}

a:hover {
  color: #F59E0B; /* Color amarillo */
}

@media screen and (max-width: 605px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
}
